<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2021-09-25T15:43:50Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2021-09-25T15:43:49Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2021-09-25T17:34:41Z</date>
	<key>BackgroundJobSearch</key>
	<date>2021-09-25T15:43:50Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2021-09-25T00:31:39Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2021-09-25T00:31:40Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2021-09-25T17:34:41Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2021-09-18T21:49:42Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2021-09-25T01:30:17Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2021-09-25T00:31:39Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2021-09-25T05:45:09Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2021-09-25T00:31:43Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2021-09-25T00:31:42Z</date>
	<key>SiriPortraitDonation</key>
	<date>2021-09-25T00:31:40Z</date>
</dict>
</plist>
